# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.env

# Virtual environments
.venv/

# Byte-compiled / optimized / DLL files
*.pyc

# Editor directories and files
.vscode/
.idea/
*.swp

# Distribution / packaging
dist/
build/
*.egg-info/

# Local config
local_settings.py

# Logs
*.log
data/
